<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS linked below --> <!-- Bootstrap CSS linked below -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">

    <title>Document</title>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    {% if category == 'invalid_Login' %}
    <p style="color: red;">{{message}}</p>
    {% endif %}
    {% endfor %}
    {% endwith %}
    
    <div class="container">
            

        <!-- registration form below -->
        <div id="reg_error" class="reg_Form_Container">


            {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
            {% if category == 'reg_error' %}
            <p style="color: red;">{{message}}</p>
            {% endif %}
            {% endfor %}
            {% endwith %}
            <h2>Register</h2>
            <form class="reg_Form" action="/register-user" method="POST">
                <div class="mb-3">
                    <label for="first_name" class="form-label">First Name:</label>
                    <input name="first_name" type="text" class="form-control" id="first_name"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Last Name:</label>
                    <input name="last_name" type="text" class="form-control" id="last_name"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" type="password" class="form-control" id="password">
                </div>
                <div class="mb-3">
                    <label for="confirm_Password" class="form-label">Confirm Password:</label>
                    <input name="confirm_password" type="password" class="form-control" id="confrim_Password">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="doYouCode">
                    <label class="do_You_Code" for="exampleCheck1">Check if you Code</label>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>

        <!-- login form below -->
        <div id="log_In_Error" class="log_In_container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
            {% if category == 'log_In_Error' %}
            <p style="color: red;">{{message}}</p>
            {% endif %}
            {% endfor %}
            {% endwith %}

            <h2>LogIn</h2>

            <form class="log_In_Form" action="/login" method="POST">
                <div class="mb-3">
                    <label for="email">Email:</label>
                    <input name="email" type="email" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password">Password:</label>
                    <input name="password" type="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Login</button>
            </form>
        </div>



    </div>
</body>

</html>